@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The purpose of this page is to practice my programming skills. Since cats are my favorite animal, I decided to dedicate this project to them! And also, the internet loves cats so I'm sure this is a safe place.  </p>
