@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Questions? Comments? Bugs? </p>
<p>Please send an email to the address below. Estimated response time: 1-2 days </p>


<address>
    <strong>Creator:</strong>   <a href="mailto:catmodeowner@gmail.com">catmodeowner@gmail.com</a><br />
</address>