@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cat Mode Activated</h1>
    <p class="lead">Webpage on anything cats!</p>
    <p>Welcome to Cat Mode Activated! Where Curiousity does NOT kill the cat.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Things To Do</h2>
        <p>
            Welcome to Cat Mode Activated!
        </p>
        <p>
            The place on all things cats.
        </p>
    </div>
    <div class="col-md-4">
        <h2>"Why does this exist?"</h2>
        <p><a class="btn btn-default" href="https://localhost:44348/Home/About">Learn more &raquo;</a></p>
    </div>

</div>